<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">
<style> 
table.wordwrap {border-collapse:collapse; table-layout:fixed; width:100%;}
       table td {border:solid 1px #000; width:100px; word-wrap:break-word;}
</style>

<ion-view view-title="Chats">
  <ion-content>
	</br>
	</br>
  <div class="w3-cell" style="width:30%">
    <center><img src="http://s2.webbnc.vn/uploadv2/web/53/5334/news/2017/06/30/04/02/1498838473_19225420_1338514609597533_6109422288473000209_n.jp.jpg" style="width:300px"></center>
  </div>
<p class="Info"><center>QUY ĐỊNH HÀNH CHÍNH CỦA CÔNG TY</center>

<DIV TYPE=HEADER>
        <P STYLE="margin-bottom: 0.25in; line-height: 100%"><BR>
        </P>
</DIV>
<P LANG="vi-VN" STYLE="margin-bottom: 0.14in">
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.14in"><FONT COLOR="#c00000"><FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 15pt"><B>TH&#7886;A
THU&#7852;N V&#7872; BI&#7878;N PH&Aacute;P X&#7916; L&Yacute; V&Agrave;
M&#7912;C B&#7890;I TH&#431;&#7900;NG THI&#7878;T H&#7840;I &#272;&#7888;I
V&#7898;I UY T&Iacute;N V&Agrave; HO&#7840;T &#272;&#7896;NG B&Igrave;NH
TH&#431;&#7900;NG C&#7910;A C&Ocirc;NG TY DO H&Agrave;NH VI VI PH&#7840;M
QUY T&#7854;C &#7912;NG X&#7916; C&#7910;A L&Aacute;I XE V&Agrave;
B&Ecirc;N CUNG C&#7844;P XE</B></FONT></FONT></FONT></P>

	<TABLE class="wordwrap" WIDTH=100% BORDER=1 BORDERCOLOR="#00000a" CELLPADDING=7 CELLSPACING=0>
                <COL WIDTH=10%>
                <COL WIDTH=30%>
                <COL WIDTH=20%>
                <COL WIDTH=20%>
                <COL WIDTH=20%>
                <TR VALIGN=TOP>
                        <TD ROWSPAN=2 WIDTH=10%>
                                <P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=4>STT</FONT></FONT></P>
                        </TD>
                        <TD ROWSPAN=2 WIDTH=30%>
                                <P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=4>H&agrave;nh
                                vi</FONT></FONT></P>
                        </TD>
                        <TD COLSPAN=3 WIDTH=60%>
                                <P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=4>X&#7917;
                                ph&#7841;t</FONT></FONT></P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=20%>
                                <P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=4>L&#7847;n
                                1</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=20%>
                                <P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=4>L&#7847;n
                                2</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=20%>
                                <P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=4>L&#7847;n
                                3</FONT></FONT></P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>1</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>&#272;&oacute;n
                                kh&aacute;ch mu&#7897;n q&uacute;a 10 ph&uacute;t</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">
                                so v&#7899;i gi&#7901; &#273;&#432;&#7907;c &#273;&#432;a l&ecirc;n
                                ph&#7847;n m&#7873;m</SPAN></FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                100.000 &#273;&#7891;ng</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                200.000 &#273;&#7891;ng v&agrave; kh&oacute;a </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                15 ng&agrave;y</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n </SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>v&#297;nh
                                vi&#7877;n</FONT></FONT></P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>2</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Mua chuy&#7871;n
                                xong b&#7887; chuy&#7871;n</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">
                                m&agrave; kh&ocirc;ng b&aacute;o s&#7899;m cho c&ocirc;ng ty nh&#432;
                                quy &#273;&#7883;nh</SPAN></FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                ti&#7873;n c&#7911;a chuy&#7871;n m&agrave; l&aacute;i xe b&#7887;</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">
                                </SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>v&agrave;
                                kh&oacute;a </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                15 ng&agrave;y</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n </SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>v&#297;nh
                                vi&#7877;n</FONT></FONT></P>
                                <P><BR>
                                </P>
                        </TD>
                        <TD WIDTH=70>
                                <P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n </SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>v&#297;nh
                                vi&#7877;n</FONT></FONT></P>
                                <P><BR>
                                </P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>3</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>S&#7917; d&#7909;ng
                                sai lo&#7841;i xe nh&#432; &#273;&atilde; &#273;&#259;ng k&iacute;
                                tr&ecirc;n t&agrave;i kho&#7843;n</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                200.000 &#273;&#7891;ng</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                200.000 &#273;&#7891;ng. Kh&oacute;a </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                15 ng&agrave;y</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n </SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>v&#297;nh
                                vi&#7877;n</FONT></FONT></P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>4</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>L&aacute;i xe
                                ch&agrave;o gi&aacute;, m&#7901;i ri&ecirc;ng kh&aacute;ch g&#7885;i
                                v&agrave;o s&#7889; c&aacute; nh&acirc;n</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                200.000 &#273;&#7891;ng v&agrave; kh&oacute;a </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                15 ng&agrave;y</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN $
                                t&agrave;i kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                v&#297;nh vi&#7877;n</FONT></FONT></P>
                                <P><BR>
                                </P>
                        </TD>
                        <TD WIDTH=70>
                                <P><BR>
                                </P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>5</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>L&aacute;i xe
                                &#273;&ograve;i th&ecirc;m ti&#7873;n c&#7911;a kh&aacute;ch</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">5</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>00.000
                                &#273;&#7891;ng v&agrave; kh&oacute;a</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">
                                t&agrave;i kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                15 ng&agrave;y</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                200.000 &#273;&#7891;ng  v&agrave; kh&oacute;a </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                30 ng&agrave;y</FONT></FONT></P>
                        </TD>
                       <TD WIDTH=70>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n </SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>v&#297;nh
                                vi&#7877;n</FONT></FONT></P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>6</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>L&aacute;i xe
                                s&#7917; d&#7909;ng r&#432;&#7907;u,bia, ch&#7845;t k&iacute;ch
                                th&iacute;ch khi l&aacute;i xe ( kh&aacute;ch h&agrave;ng ph&#7843;n
                                &aacute;nh v&#7899;i c&ocirc;ng ty )</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN $
                                t&agrave;i kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                v&#297;nh vi&#7877;n</FONT></FONT></P>
                                <P><BR>
                                </P>
                        </TD>
                        <TD WIDTH=76>
                                <P><BR>
                                </P>
                        </TD>
                        <TD WIDTH=70>
                                <P><BR>
                                </P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>7</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>L&aacute;i xe
                                kh&ocirc;ng an to&agrave;n</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">
                                </SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>(</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">
                                kh&aacute;ch h&agrave;ng g&#7885;i &#273;i&#7879;n l&ecirc;n c&ocirc;ng
                                ty ph&#7843;n &aacute;nh</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                )</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Nh&#7855;c
                                nh&#7903;</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                15 ng&agrave;y</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                v&#297;nh vi&#7877;n</FONT></FONT></P>
                                <P><BR>
                                </P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>8</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>X&uacute;c
                                ph&#7841;m ho&#7863;c &#273;e d&#7885;a h&agrave;nh kh&aacute;ch
                                b&#7845;t k&#7875; d&#432;&#7899;i m&#7885;i h&igrave;nh th&#7913;c</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Nh&#7855;c
                                nh&#7903;</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                500.000 &#273;&#7891;ng</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n v&#297;nh vi&#7877;n</FONT></FONT></P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>9</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>L&agrave;m
                                t&#7893;n th&#432;&#417;ng kh&aacute;ch h&agrave;ng b&#7857;ng s&#7921;
                                b&#7845;t c&#7849;n hay c&#7889; &yacute; c&#432; s&#7917; t&#7879;</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Nh&#7855;c
                                nh&#7903;</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n v&#297;nh vi&#7877;n</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P><BR>
                                </P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>10</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>&#272;&aacute;nh
                                nhau, g&acirc;y g&#7893;, l&#7899;n ti&#7871;ng tr&#432;&#7899;c
                                m&#7863;t kh&aacute;ch</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Nh&#7855;c
                                nh&#7903;</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n 15 ng&agrave;y</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n v&#297;nh vi&#7877;n</FONT></FONT></P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>11</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>L&aacute;i xe
                                nguy hi&#7875;m, kh&ocirc;ng tu&acirc;n th&#7911; lu&#7853;t l&#7879;
                                giao th&ocirc;ng</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Nh&#7855;c
                                nh&#7903;</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n 15 ng&agrave;y</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n v&#297;nh vi&#7877;n</FONT></FONT></P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>12</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>X&uacute;c
                                ph&#7841;m nh&acirc;n vi&ecirc;n c&ocirc;ng ty</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n v&#297;nh vi&#7877;n</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><BR>
                                </P>
                        </TD>
                        <TD WIDTH=70>
                                <P><BR>
                                </P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>13</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>B&#7855;t
                                kh&aacute;ch gh&eacute;p chuy&#7871;n</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                ti&#7873;n chuy&#7871;n</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">
                                &#273;&atilde; mua</SPAN></FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n v&#297;nh vi&#7877;n</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P><BR>
                                </P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>14</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Than v&atilde;n,
                                g&#7907;i &iacute;t &#273;&ograve;i th&ecirc;m ti&#7873;n b&#7891;i
                                d&#432;&#7905;ng c&#7911;a kh&aacute;ch</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                200.00 0 &#273;&#7891;ng</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                200.00 0 &#273;&#7891;ng v&agrave; Ph&#7841;t 200.00 0 &#273;&#7891;ng</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n v&#297;nh vi&#7877;n</FONT></FONT></P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>15</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Xe b&#7849;n
                                v&agrave; c&oacute; m&ugrave;i</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">
                                m&agrave; kh&aacute;ch ph&#7843;n &#7843;nh l&#7841;i v&#7899;i
                                c&ocirc;ng ty</SPAN></FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Nh&#7855;c
                                nh&#7903;</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                500.000 &#273;&#7891;ng</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n v&#297;nh vi&#7877;n</FONT></FONT></P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>16</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Tr&#7843; sai
                                &#273;i&#7875;m m&agrave; ko c&oacute; s&#7921; &#273;&#7891;ng &yacute;
                                c&#7911;a kh&aacute;ch</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                200.000 &#273;&#7891;ng</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                500.000 &#273;&#7891;ng</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n v&#297;nh vi&#7877;n</FONT></FONT></P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>17</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>B&#7887;
                                kh&aacute;ch gi&#7919;a &#273;&#432;&#7901;ng, y&ecirc;u c&#7847;u
                                kh&aacute;ch xu&#7889;ng xe m&agrave; kh&ocirc;ng c&oacute; l&iacute;
                                do h&#7907;p l&iacute;</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                500.000 &#273;&#7891;ng v&agrave; kh&oacute;a </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                15 ng&agrave;y</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n v&#297;nh vi&#7877;n</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n v&#297;nh vi&#7877;n</FONT></FONT></P>
                        </TD>
                </TR>
                <TR VALIGN=TOP>
                        <TD WIDTH=34>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>18</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=304>
                                <P><A NAME="_GoBack"></A><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Gi&#7919;
                                t&agrave;i s&#7843;n thu&#7897;c s&#7903; h&#7919;u c&#7911;a
                                kh&aacute;ch h&agrave;ng qu&aacute; 24 gi&#7901; m&agrave; kh&ocirc;ng
                                b&aacute;o l&#7841;i v&#7899;i c&ocirc;ng ty v&agrave; kh&aacute;ch
                                h&agrave;ng, c&#417; quan ph&aacute;p lu&#7853;t.</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=82>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                500.000 &#273;&#7891;ng v&agrave; kh&oacute;a </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                15 ng&agrave;y</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=76>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Ph&#7841;t
                                500.000 &#273;&#7891;ng v&agrave; kh&oacute;a </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="vi-VN">t&agrave;i
                                kho&#7843;n</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>
                                30 ng&agrave;y</FONT></FONT></P>
                        </TD>
                        <TD WIDTH=70>
                                <P><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Kh&oacute;a
                                t&agrave;i kho&#7843;n v&#297;nh vi&#7877;n</FONT></FONT></P>
                        </TD>
                </TR>
        </TABLE>

<P LANG="vi-VN" STYLE="margin-bottom: 0.14in"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.14in"><BR><BR>
</P>
<DIV TYPE=FOOTER>
        <P STYLE="margin-top: 0.25in; margin-bottom: 0in; line-height: 100%">
        <BR>
        </P>
</DIV>

</p>

  </ion-content>
</ion-view>
